# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Local data and outputs
data/Data_Proj2/
data/Data_Proj2
data/external/isic2018_task3/
external_data/
outputs/external/
outputs/models/*.pkl
outputs/models/*.joblib
outputs/models/*.pth
outputs/metrics/*.csv
outputs/figures/*.png
output.csv

# OS / editor
.DS_Store
.idea/
.vscode/
