# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Local data and outputs
data/Data_Proj2/
data/Data_Proj2
external_data/
outputs/cache/
outputs/models/*.pkl
outputs/models/*.joblib
outputs/models/*.pth
outputs/models/*.pt
outputs/metrics/*.csv
outputs/metrics/*.txt
outputs/metrics/*/
outputs/figures/
outputs/figures/*.png
outputs/figures/*.jpg
outputs/deep/
output.csv

# OS / editor
.DS_Store
.idea/
.vscode/
